/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/* Multi use */

.flex{
    display: flex;
}

.j-spacebw{
    justify-content: space-between;
}

/* Background-color */
.bg-color-black{
    background-color: #000000;
}

.bg-color-darkgray{
    background-color: #080B12;
}

.bg-color-darkblue{
    background-color: #141922;
}

.bg-color-gray{
    background-color: #282828;
}

/* SECTION */

div.big-container{
    height: 100vh;

}

section.up-grade{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

aside{
    height:calc(100vh - 70px);
    width: 40px;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

main{
    width: calc(100% - 40px);
    color: white;
    overflow: auto;
    height: calc(100% - 70px);
}

/* Section Aside */
aside div{
    width: 100%;
    text-align: center;
}

aside img{
    height: 22px;    
    margin-bottom: .3rem;
    color: #75787C;
}

aside img.logo-small{
    height: 24px;
    margin: .3rem .5rem .7rem;

}

aside h2{
    font-size: .7rem;
    margin-top: .6rem;
    margin-bottom: .5rem;
}

aside button.button-plus{
    height: 32px;
    width: 32px;
    margin-right: .5rem;
    color: black;
    background-color: #A3A3A3;
    font-size: 25px;
    font-weight: bold;
}

aside section.navbar span{
    line-height: 27px;
    font-size: .66rem;
    font-weight: 800;
}

aside span:hover,
li:hover,
img:hover{
    color: white;
    cursor: pointer;
    filter: brightness(1.7)
}

aside div.create-playlist:hover button{
    background-color: white;
}

aside section.profile span.color-white{
    line-height: 40px;
    font-size: .7rem;
    font-weight: 800;
}

aside section.profile div:first-child span{
    font-size: .66rem;
    font-weight: bold;
}

aside section.profile div:first-child {
    border-bottom: 1px solid gray;
    width: 80%;
}


.color-white{
    color: white;
}


aside img.logo-big,
span,
button.button-plus,
li,
h2{
    display: none;
}

aside i{
    text-align: center;
    padding: .4rem;
}

aside section.profile > div:first-child img{
    height: 13px;
}

aside section.profile > div:last-child img{
    background-color: gray;
    border-radius: 50%;
    margin-top: .7rem;
}

aside span.bg-color-gray{
    height: 30px;
    width: 30px;
    background-color: #A3A3A3;
    text-align: center;
    vertical-align: auto;
    font-size: 1.5rem;
    color: black;
}

ul,
li, 
span{
    color: #75787C;
}

/* SECTION UP-GRADE */

button.button-download{
    float: right;
    right: 1rem;
    top: 1rem;
    background-color: #080B12;
    border: 1px solid white;
    border-radius: 3rem;
    color: white;
    padding: .7rem 1.5rem;
    margin: .9rem .3rem 1.3rem;
    font-size: .7rem;
}

button.button-download:hover{
    transform: scale(1.07);
    cursor: pointer;
}

/* MAIN */
/* HEADER */

header ul{
    color: white;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 .5rem;
    display: inline;
    border-bottom: 2px solid transparent;
}

header ul li:hover{
    border-bottom: 2px solid lime;
    cursor: pointer;
    color: white;
}

ul li{
    font-size: .66rem;
    color: #75787C;
    font-weight: 800;
    margin: 1rem .5rem;
    list-style-type: none;
    border-bottom: 2px solid transparent;
}

/* SECTION MAIN FIRST PLAYLIST */

section.container-playlist{
    margin: 1rem;
}

section.container-playlist h2 {
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
}

section.container-playlist h3 {
    font-size: .75rem;
    text-align: center;
    margin: 0.7rem;
}

section.container-playlist span {
    display: block;
    color: #75787C;
    font-size: 0.66rem;
    font-weight: 800;
    margin-bottom: .4rem;
}


section div.container-playlist{
    height: calc(100% - (75px + 75px + 34px));
    overflow-y: auto;
}

section.container-playlist div.content{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

section article.square,
.circular {
    width: calc(50% - .5rem);
    margin-right: .5rem;   
    text-align: center;
    position: relative;
}

article.circular img{
    border-radius: 50%;
}

section.container-playlist img{
    width: 100%;
}
/* HOVER SECTION CONTAINER PLAYLIST */
section article.square,
article.circular:hover {
    cursor: pointer;
}

section article.square:hover img,
article.circular:hover img {
    filter: brightness(0.7);
}

section.container-playlist .fa-circle-play{
    display: none;
}

section article.square:hover i,
section article.circular:hover i{
    display: block;
    position: absolute;
    top: calc(116.167px / 2);
    width: calc(116.167px / 2);
    transform: translate(-50% , -50%);
    display: inline-block;
}


/* SECTION TASKBAR */

section.taskbar{
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    height: 70px;
    width: 100%;
}


.taskbar div.soundtrack,
div.command-bar,
div.slider,
div.command-sound{
    height: 100%;
    padding: .5rem;
    display: flex;
    align-items: center;
}

.taskbar img{
    height: 60%;
}

div.title-track{
    margin: 0 1rem 0 1rem;
}

div.title-track span{
    font-size: .6rem;
    font-weight: bold;    
}

div.command-bar{
    flex-direction: column;
    color: white;
}

div.like i,
div.command-sound i{
    color: #75787C;
    margin-left: .3rem;
}

div.command-sound i{
    color: #75787C;
    margin-left: .5rem;
    font-size: .72rem;
}


div.command-bar i{
    margin: 0 .5rem;
}

.fa-circle-play{
    font-size: 1.6rem;
}


div.slider span{
    color: white;
    font-size: .66rem;

}

div.command-sound{
    height: 100%;
}

section.taskbar span{
    display: block;
}

div.w1-border,
div.w2-border{
    height: 4px;
    width: 300px;
    border: 1px solid;
    border-radius: 1rem;
    border-color: #75787C;
    background-color: #75787C;
    margin: 0 1rem;
}

div.w1-grey,
div.w2-grey{
    width: 20%;
    height: 100%;
    background-color: white;
}

div.w2-border{
    width: 90px;
}


@media screen and (min-width:576px){

    aside{
        width: 170px;
    }

    aside section{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
    }

    aside img.logo-big{
        height: 30px;
        margin-top: .8rem;
        margin-bottom: .7rem;
    }

    aside div{
        display: flex;
        flex-direction: row;
    }

    aside img.logo-big,
    span,
    button.button-plus,
    h2,
    li{
        display: block;
    }

    aside img.logo-small{
        display: none;
    }

    aside img{
        height: 22px;    
        margin-bottom: .3rem;
        margin-right: .5rem;
        color: #75787C;
    }

    main{
        width: calc(100% - 170px);
        color: white;
        overflow: auto;
        height: calc(100% - 70px);
    }


}

@media screen and (min-width:768px){
    section article.square,
    .circular{
        width: calc(25% - 1rem);
    }
}

@media screen and (min-width:992px){

    section article.square,
    .circular{
        width: calc((100% / 6) - 1rem);
    }
    
}