/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Multi use */

.flex{
    display: flex;
}

.j-spacebw{
    justify-content: space-between;
}

/* Background-color */
.bg-color-black{
    background-color: #000000;
}

.bg-color-darkgray{
    background-color: #080B12;
}

.bg-color-darkblue{
    background-color: #141922;
}

.bg-color-gray{
    background-color: #282828;
}


/* SECTION */

div.container{
    height: 100vh;
}

section.up-grade{
    width: 100%;
    height: 75px;
}

aside{
    height: 100%;
    width: 45px;
}

main{
    width: 90%;
}

section.taskbar{
    position: absolute;
    bottom: 0;
    height: 75px;
    width: 100%;
}



@media screen and (min-width:576px){

    aside{
        width: 250px;
    }
}

@media screen and (min-width:768px){
    
}

@media screen and (min-width:992px){
    
}